In [58]:
import pandas as pd
import numpy as np
import reprlib

In [81]:
df = pd.read_csv(r"C:\Users\alstoian\Scripts\NYPD_Arrests_Historic_Final.csv")

In [109]:
df

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,192799737,01/26/2019,177.0,SEXUAL ABUSE,116.0,SEX CRIMES,PL 1306503,F,M,25,0.0,45-64,M,BLACK,1000555.0,230994.0,40.800694,-73.941109
1,149117452,01/06/2016,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,67,0.0,25-44,M,BLACK,998032.0,175598.0,40.648650,-73.950336
2,190049060,11/15/2018,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0.0,25-44,M,BLACK,1003606.0,185050.0,40.674583,-73.930222
3,24288194,09/13/2006,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 140100E,M,K,77,2.0,45-64,M,BLACK,1004580.0,183838.0,40.671254,-73.926714
4,189182271,10/24/2018,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,M,5,0.0,45-64,M,WHITE HISPANIC,984946.0,200203.0,40.716196,-73.997491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5125601,207601040,01/08/2020,273.0,"TAMPERING 1,CRIMINAL",121.0,CRIMINAL MISCHIEF & RELATED OF,PL 1452000,F,M,1,1.0,25-44,M,BLACK HISPANIC,980772.0,194845.0,40.701489,-74.012545
5125602,206891807,01/01/2020,113.0,"MENACING,UNCLASSIFIED",344.0,ASSAULT 3 & RELATED OFFENSES,PL 1201401,M,K,90,0.0,<18,M,BLACK,993514.0,197321.0,40.708281,-73.966587
5125603,207760542,01/11/2020,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,M,13,0.0,25-44,M,WHITE,986464.0,208227.0,40.738220,-73.992012
5125604,206896678,01/01/2020,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,111,0.0,45-64,M,BLACK,1053534.0,211808.0,40.747777,-73.749952
5125605,206908101,01/02/2020,782.0,"WEAPONS, POSSESSION, ETC",236.0,DANGEROUS WEAPONS,PL 2650101,M,Q,115,3.0,25-44,M,BLACK,1018623.0,214936.0,40.756568,-73.875932

**Dataframe pentru cea mai indepartata tabela, BOROUGHS:**

In [71]:
boroughs = df['ARREST_BORO'].unique();
boroughs_dict = {'boro_id':[x for x in range(0, len(boroughs))], 'name': boroughs} 
print(boroughs_dict)
boroughs_df = pd.DataFrame(boroughs_dict)
boroughs_df

{'boro_id': [0, 1, 2, 3, 4], 'name': array(['M', 'K', 'B', 'Q', 'S'], dtype=object)}

   boro_id name
0        0    M
1        1    K
2        2    B
3        3    Q
4        4    S

**Dataframe pentru parintele lui BOROUGHS, LOCATION_INFO:**

In [91]:
precincts = np.sort(df['ARREST_PRECINCT'].unique());
BORO_DICT =  boroughs_df.set_index('boro_id').T.to_dict('list')
BORO_DICT_SWAPPED = dict([(value[0], key) for key, value in BORO_DICT.items()])
print(BORO_DICT_SWAPPED)
boro_association = list(a for a in zip(df['ARREST_PRECINCT'], df['ARREST_BORO']))
print(len(boro_association))
print(reprlib.repr(boro_association))
boro_association = list(set(boro_association))
print(len(boro_association))
boro_association = list(list(a) for a in boro_association)
print(len(boro_association))

{'M': 0, 'K': 1, 'B': 2, 'Q': 3, 'S': 4}
5125606
[(25, 'M'), (67, 'K'), (77, 'K'), (77, 'K'), (5, 'M'), (77, 'K'), ...]
108
108

In [100]:
for item in boro_association:
    item[1] = BORO_DICT_SWAPPED[item[1]]
boro_association = sorted(boro_association, key=lambda x: x[0])
#boro_association
print(len(boro_association))

108

In [105]:
location_info_dict = {'LOCATION_INFO_ID': [x for x in range(0, len(boro_association))], 'arrest_precinct': [el[0] for el in boro_association], 'BOROUGHS_boro_id': [el[1] for el in boro_association]}
location_info_df = pd.DataFrame(location_info_dict)

In [106]:
location_info_df

     LOCATION_INFO_ID  arrest_precinct  BOROUGHS_boro_id
0                   0                1                 2
1                   1                1                 0
2                   2                5                 0
3                   3                6                 0
4                   4                7                 0
..                ...              ...               ...
103               103              120                 4
104               104              121                 4
105               105              122                 0
106               106              122                 4
107               107              123                 4

[108 rows x 3 columns]

In [136]:
#Functie helper pentru generare de fisiere .sql cu INSERT statement-uri
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET, FILE):
    sql_texts = []
    fout = open(FILE, 'a')
    fout.truncate(0)
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values))+';')        
    for item in sql_texts:
        fout.write(str(item)+'\n')
    fout.close()

In [137]:
SQL_INSERT_STATEMENT_FROM_DATAFRAME(boroughs_df, 'BOROUGHS', 'insert_boroughs.sql')
SQL_INSERT_STATEMENT_FROM_DATAFRAME(location_info_df, 'LOCATION_INFO', 'insert_location_info.sql')

**Data frame pentru PD**

In [190]:
pd_codes_descs = df[['PD_CD', 'PD_DESC']]
#pd_codes = np.sort(pd_codes.astype(int))
pd_codes_descs['PD_CD'] = pd_codes_descs['PD_CD'].astype(int)
pd_codes_descs = pd_codes_descs.drop_duplicates()
pd_codes_descs = pd_codes_descs.sort_values(by=['PD_CD'])
pd_dict = {'pd_id': [x for x in range(0, len(pd_codes_descs))], 'pd_code': pd_codes_descs['PD_CD'], 'pd_desc': pd_codes_descs['PD_DESC']}
pd_data = pd.DataFrame(pd_dict)
SQL_INSERT_STATEMENT_FROM_DATAFRAME(pd_data, 'PD', 'insert_pd.sql')

C:\Users\alstoian\AppData\Local\Temp/ipykernel_15536/1289873399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_codes_descs['PD_CD'] = pd_codes_descs['PD_CD'].astype(int)

**Data frame pentru KY**

In [199]:
ky_codes_descs = df[['KY_CD', 'OFNS_DESC']]
ky_codes_descs['KY_CD'] = ky_codes_descs['KY_CD'].astype(int)
ky_codes_descs = ky_codes_descs.drop_duplicates()
ky_codes_descs = ky_codes_descs.sort_values(by=['KY_CD'])
ky_dict = {'ky_id': [x for x in range(0, len(ky_codes_descs))], 'ky_code': ky_codes_descs['KY_CD'], 'ky_desc': ky_codes_descs['OFNS_DESC']}
ky_data = pd.DataFrame(ky_dict)
SQL_INSERT_STATEMENT_FROM_DATAFRAME(ky_data, 'KY', 'insert_ky.sql')

C:\Users\alstoian\AppData\Local\Temp/ipykernel_15536/1907092536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ky_codes_descs['KY_CD'] = ky_codes_descs['KY_CD'].astype(int)

**Data frame pentru gps coords**

In [205]:
gps_coords = df[['Latitude', 'Longitude']]
gps_coords = gps_coords.drop_duplicates()
gps_dict = {'GPS_id': [x for x in range(0, len(gps_coords))], 'longitude': gps_coords['Longitude'], 'latitude': gps_coords['Latitude']}
gps_data = pd.DataFrame(gps_dict)
SQL_INSERT_STATEMENT_FROM_DATAFRAME(gps_data, 'GPS_COORDS', 'insert_gps.sql')

**Data frame pentru map coords**

In [212]:
map_coords = df[['X_COORD_CD', 'Y_COORD_CD']]
map_coords = map_coords.drop_duplicates()
map_dict = {'map_id': [x for x in range(0, len(map_coords))], 'x': map_coords['X_COORD_CD'], 'y': map_coords['Y_COORD_CD']}
map_data = pd.DataFrame(map_dict)
SQL_INSERT_STATEMENT_FROM_DATAFRAME(map_data, 'MAP_COORDS', 'insert_map.sql')

**Data frame pentru LAW**

In [217]:
law = df[['LAW_CODE', 'LAW_CAT_CD']]
law = law.drop_duplicates()
law_dict = {'law_id': [x for x in range(0, len(law))], 'law_code': law['LAW_CODE'], 'category': law['LAW_CAT_CD']}
law_data = pd.DataFrame(law_dict)
SQL_INSERT_STATEMENT_FROM_DATAFRAME(law_data, 'LAW', 'insert_law.sql')